<div class="header">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="./img/logo.svg" alt="logo"></a>
        </div>
        <ul>
            <li><a href="#">Наші проекти</a></li>
            <li><a href="#">Комерційні площі</a></li>
            <li><a href="#">Квартири з ремонтом</a></li>
            <li><a href="#">Акції</a></li>
            <li><a href="#">Компанія</a></li>
            <li><a href="#">Контакти</a></li>
        </ul>

        <div class="tel">
            <a href="call:3-809-710-01097">097 1001 097</a>
        </div>
    </div>
</div>