<div class="header">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="./img/logo.svg" alt="logo"></a>
        </div>
        <ul>
            <li>
                <a href="./projects.html">Наші проекти <img src="./img/arrow-down.svg" alt=""></a>
                <ul>
                    <li>
                        <a href="#">
                            <img src="./img/item1.jpg">
                            <div>
                                Prestige Apartments
                                <span>
                                    Толстого, 10
                                </span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="./img/item1.jpg">
                            <div>
                                Prestige Apartments
                                <span>
                                    Толстого, 10
                                </span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="./img/item1.jpg">
                            <div>
                                Prestige Apartments
                                <span>
                                    Толстого, 10
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li><a href="./commercial.html">Комерційні площі</a></li>
            <li><a href="./Renovated-Apartments.html">Квартири з ремонтом</a></li>
            <li><a href="./promo.html">Акції</a></li>
            <li>
                <a href="./about.html">Компанія <img src="./img/arrow-down.svg" alt=""></a>
                <ul>
                    <li>
                        <a href="./about.html">
                            <div>
                                Компанія
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./news.html">
                            <div>
                                Новини
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./video.html">
                            <div>
                                Відео
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li><a href="./contacts.html">Контакти</a></li>
        </ul>

        <div class="tel">
            <a href="call:3-809-710-01097">+38 097 1001 097</a>
            <div class="overlay">
                <div>
                    Клима Савури, 14А <br>
                    stograd.office@gmail.com
                </div>
                <div class="phones">
                    +38 097 1001 097 <br>
                    +38 066 1001 660 <br>
                    +38 0362 43 06 05
                </div>
            </div>
        </div>
    </div>
</div>

<div class="call-bungle">
    <a href="#">
        <img src="./img/ic-binotel.png" alt="">
    </a>
</div>