@media screen and (max-width: 767px) {
    // 
  .show-mobile{
    display: block!important;
    & + img {
      display: block!important;
    }
  }
  .hide-mobile{
    display: none!important;
  }
  body{
    padding-top: 40px;
    padding-bottom: 320px;
  }
  .call-show{
    h4{
      margin-top: 16px;
    }
    .row{
      flex-direction: column;

      input{
        min-width: auto;
        margin-bottom: 10px;
      }
    }
  }
  .room-dialog h4{
    margin-top: 16px;
  }
  .header{
    min-height: auto;

    .container{
      padding: 0;
      margin: 0;
    
      &>ul{
        display: none;
      }
      .menu-opener{
        width: 30%;
        display: flex;
        justify-content: center;
      }
      .logo{
        width: 40%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #E9E9E9;
        border-right: 1px solid #E9E9E9;
      }
      .tel{
        width: 30%;
        display: flex;
        justify-content: center;
        a{
          &:after{
            display: none;
          }
        }
      }
    }
  }
  h1{
    font-size: 40px;
    line-height: 40px;
  }
  .container{
    padding: 0 24px;
  }
  .main-image{
    min-height: auto;
    img{
      height: 384px;
    }
    h1{
      top: 95px;
    }
  }
  // 
  .main{
    .container{
      .large-card{
        margin: 32px 0;

        img{
          object-fit: contain;
        }
      }
    }
    .banners{
      margin-bottom: 64px;
    }
  }
  // 
  h2{
    font-size: 24px;
    line-height: 32px;
    margin: 16px 0;
    &.biggest{
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 22px;
    }
  }
  // 
  .toggler label{
    padding: 5px 10px;
    bottom: 8px;
    right: 8px;
    *{
      font-size: 12px;
      line-height: 15px;
    }
  }
  .projects{
    flex-direction: column;
    margin: 0;

    .item{
      width: 100%;
      max-width: 100%;
      margin: 0;
      margin-bottom: 24px;

      img{
        height: auto;
        width: 100%;
        object-fit: contain;
      }
    }
  }
  // 
  h3{
    font-size: 20px;
    line-height: 28px;
  }
  p{
    font-size: 16px;
    line-height: 28px;
  }
  // 
  .info{
    &>.row{
      flex-direction: column;
      &>div{
        width: 100%;
      }
    }
    .col-1{
      display: none;
    }
    .num-banner-zone{
      max-width: 100%;
      flex-direction: row;
      .num-baner{
        margin-bottom: 20px;
      }
    }
    p{
      margin: 22px 0;
    }
  }
  // 
  .container.map{
    h2{
      // padding: 0 24px;
    }
    #map{
      height: 464px;
    }
  }
  // 

  .footer{
    padding: 0 24px;

    .container-fluid .container{
      padding-top: 10px;

      .row{
        flex-direction: column;

        &>div{
          width: 100%;
        }
        .social{
          width: 100%;
          // justify-content: space-between;
          margin-top: 24px;
          flex-wrap: wrap;

          li{
            margin: 0;
            margin-right: 15px;
          }
        }
      }
      .row:last-child{
        flex-direction: row;
      }
    }
  }
  // 
  .main{
    .toggler{
      margin-bottom: 28px;
    }
  }
  .house-description{
    .content_{
      .short-info{
        &>div{
          min-width: 0;
          span{
            font-size: 12px;
          }
          h3{
            font-size: 18px;
            margin-bottom: 18px;
          }
        }
      }
    }
    .short-info{
      // flex-direction: column;
    }
    a.show-info{
      font-size: 16px;
      line-height: 20px;
      padding: 15px;
    }
    .description{
      .row{
        .name, .value{
          font-size: 16px;
          line-height: 20px;

          a{
            font-size: 16px;
          }
        }
      }
    }
  }
  // 
  .type1-gallery .swiper-container .swiper-button-next{
    width: 28px;
    height: 28px;
    img{
      width: 6px;
    }
  }
  .type1-gallery .swiper-container .swiper-button-prev{
    width: 28px;
    right: 28px;
    height: 28px;
    img{
      width: 6px;
    }    
  }
  .type1-gallery .swiper-container .swiper-wrapper{
    height: auto;
    .swiper-slide{
      min-height: 0;
    }
  }
  .col-info-type2{
    flex-direction: column-reverse;
    &>div{
      width: 100%;
      height: auto;

      h2{
        font-size: 20px;
        line-height: 28px;
      }

      img{
        width: 100%;
        margin-top: 28px;
        height: 480px;
        object-fit: cover;
      }
    }
    &.reverse{
      flex-direction: column-reverse;
    }
  }
  // 
  .floor-select{
    width: 100%;
    margin: 10px auto;

    ul{
      min-height: 300px;
    }
  }
  // 
  .column-info, .column-info.reverse{
    display: block;
    // flex-direction: column;
    // align-items: flex-start;
    // justify-content: flex-start;
    // -webkit-box-orient: initial;

    &>div{
      width: 100%;
      height: auto;

      h2{
        font-size: 20px;
        line-height: 28px;
      }

      img{
        width: 100%;
        margin-top: 28px;
        height: 480px;
        object-fit: cover;
      }
    }
    &>div:nth-child(2){
      display: none;
    }
    .ip{
      height: 480px;
    }
  }
  // 
  .infrastructure .objects .row {
    flex-wrap: wrap;

    div:first-child{
      width: 100%;
      margin: 10px 0;
    }
    div.col-3{
      width: 60%;
    }
    div.col-2{
      width: 40%;
    }
  }
  // 
  .content{
    margin: 48px 0;
  }
  // 
  .lorem{
    flex-direction: column;

    h3{
      line-height: 28px;
      margin-bottom: 12px;
    }
    &>div{
      width: 100%;
    }
  }
  // 
  .gallery .swiper-button-next{
    width: 28px;
    height: 28px;
    img{
      width: 6px;
    }
  }
  .gallery .swiper-button-prev{
    width: 28px;
    height: 28px;
    right: 28px;
    img{
      width: 6px;
    }
  }
  .gallery .gallery-top{
    height: auto;
  }
  .gallery .gallery-thumbs{
    height: auto;
  }
  .gallery .gallery-top{
    margin-bottom: auto;
  }
  // 
  .block{
    &>.row{
      flex-direction: column;

      p{
        width: 100%;
        margin: 8px 0;
      }
    }
  }
  // 
  .photos{
    img{
      // height: 152px;
      height: auto;
      width: 100%;
      object-fit: contain;
    }
  }
  // 
  .plan .row{
    flex-direction: column;

    .custom-select{
      width: 100%;
      margin-bottom: 16px;
      
    }
    a{
      padding: 10px;

      &.col-3{
          width: 100%;
      }
    }
    
  }
  // 
  .table-caption{
    .col-2{
      width: 50%;
    }
    .col-8{
      display: none;
    }
  }
  .table-info{
    .row{
      padding: 18px 0;

      &>.col-2{
        min-width: 90px;
      }
      &>.row{
        padding: 0;
        width: calc(100% - 90px);
        display: flex;
        flex-wrap: wrap;
        &>div{
          min-width: 80px;
          margin: 4px 0;
          margin-right: 5px;
        }
      }
    }
  }
  // 
  .room{
    .top{
      flex-direction: column;
      &>div{
        width: 100%;
      }
    }
    .row.top{
        img{
          min-height: 272px;
          height: 272px;
        }
      }
    .plan{
      flex-direction: column;

      &>.col-4{
        width: 100%;
        flex-direction: column;

        &>div{
          margin: 10px 0;
          width: 100%;
          display: flex;
          flex-direction: column;
        }
      }
      &>a{
        margin-top: 10px;
        padding: 10px;
        width: 100%;
      }
    }
  }
  // 
  .room-info{
    margin-bottom: 0;

    &>.col-4{
      width: 100%;
      .info-banner{
        width: 100%;
      }
      .actions{
        width: 100%;
      }
    }
    .plan{
      span{
        font-size: 14px;
      }
      img{
        width: 100%;
      }
    }
  }
  
  // 
  .additional-info p{
    font-size: 14px;
  }
  // 
  .com-house .tech-title{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    span.price {
      margin-left: 0;
    }
  }
  .techical-description{
    flex-direction: column;
    &>.col-6{
      &:last-child{
        border-top: none;
      }
      width: 100%;
      li{
        b{
          min-width: 20px;
          text-align: right;        
        }
      }
    }
  }
  // 
  // .news{
  //   .col-6{
  //     width: 100%;
  //   }
  // }
  // 
  .news-article .type1-gallery .swiper-container .swiper-wrapper .swiper-slide{
    height: 160px;
  }
  .news-article .type1-gallery .swiper-container .swiper-wrapper .swiper-slide{
    min-height: 0;
  }
  // 
  .container.type1-gallery{
    padding: 0;
  }
  // 
  .news-article .comment p, .news-article p a{
    font-size: 14px;
  }
  .comment{
    padding-left: 0;
  }
  // 
  .based{
    margin-top: -16px;
    flex-direction: column-reverse;

    &>div, &>div.col-7{
      width: 100%;

      a{
        margin-bottom: 30px;
      }
    }
  }
  // 
  .apparts{
    flex-direction: column;

    a{
      width: 100%;

      &>img{
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
  // 
  .commercial{
    flex-direction: column;

    a{
      width: 100%;
      margin-bottom: 28px;
      img{
        margin-bottom: 14px;
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
  // 
  .videos{
    flex-direction: column;

    .item{
      width: 100%;

      img{
        height: auto;
        object-fit: contain;
      }
    }
  }
  // 
  .contacts{
    // flex-direction: column;

    &>div.col-4{
      width: 100%;
      display: flex;
      margin-bottom: 24px;
      align-items: flex-start;

      &>img{
        width: 100px;
        height: auto;
        object-fit: contain;
        display: block;
        margin-right: 16px;
      }
      .contact{
        p{
          margin-top: 0;
        }
      }
    }
  }
  // 
  .text-banner{
    height: 120px;
    padding: 10px;

    h3{
      font-size: 15px;
      line-height: 20px;
      margin-left: 80px;
    }
    &:before{
      background-position-x: -200px; 
      height: 140px;
      width: 200px;
    }
  }
  // 
  .row.mobile{
    flex-direction: column;
    &>p{
      width: 100%;
      margin: 6px 0;
    }
  }
  // 
  .comfort{
    flex-direction: column;
    .item{
      width: 100%;
      margin: 30px 0;
    }
  }
  // 

  .header{
    // position: relative;
    .container .tel:hover{
      .overlay{
        display: none;
      }
    }
    .open-menu{
      .menu-opener{
        display: none;
      }
      .menu-close{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px;
        background-color: white;
        height: 72px;
        z-index: 1001;
        font-size: 16px;
        padding-left: 32px;
        padding-bottom: 35px;

        img{
          display: inline-block;
          margin-right: 8px;
          // position: absolute;
        }
      }
      ul{
        display: block;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: white;
        min-height: 100vh;

        li{
          min-height: 50px;
          // justify-content: flex-start;
          align-items: flex-start;
          padding-left: 40px;
          flex-direction: column;
          position: relative;
          height: auto;

          &:hover{
            background-color: white;
          }

          a, a>span{
            font-size: 20px;
            line-height: 24px;
          }
          a{
            padding: 13px 10px;

            span.short{
              display: none;
            }
            span.full{
              display: inherit;
            }
          }

          a.show-mobile + img{
            position: absolute;
            top: 24px;
            left: 140px;
          }
          a.show-mobile:hover + img {
            transform: rotate(180deg);
          }
          // &:hover .show-mobile:hover + .fl{
          //   position: absolute;
          //   z-index: 10;
          //   top: 0;
          //   left: 0;
          //   width: 100%;
          //   height: 40px;
          // }

          ul{
            box-shadow: none;
            position: relative;
            top: auto;
            left: auto;
            min-height: auto;

            li{
              padding: 0;
              min-height: 30px;
              a{
                padding: 0;
                padding-left: 10px;
              }
            }
          }
          .compaty-togler:checked ~ ul{
            display: none;
          }
          .compaty-togler:not(:checked) ~ ul{
            display: block;
            // color: blue!important;
          }
          // 
        }
      }
    }
  }


  .modaal-outer-wrapper{
    .modaal-inner-wrapper{
      padding: 2px;

      .modaal-content-container{
        padding: 10px;

        .technical-info{
          margin: 10px;

          .head{
            margin-bottom: 20px;

            h3{
              font-size: 20px;
              line-height: 28px;
            }
            span{
              font-size: 12px;
            }
          }
          .body{
            b{
              font-size: 16px;
            }
            p{
              margin-top: 8px;
            }
            &>.row{
              flex-direction: column;

              .row{
                margin: 8px 0;
                flex-direction: column;

                &>div{
                  width: 100%;
                }
              }
              &>.col-5{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  // 
  .news-article .g1.type1-gallery .swiper-container .swiper-wrapper .swiper-slide{
    height: auto;
  }
  .column-info h2{
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .container.block h2{
    margin-bottom: 10px;
  }
  .container p:first-child{
    margin-top: 0;
  }
// 
// fixes
// 
  .house-description .content_ p{
    line-height: 28px;
  }
  .column-info p, .infrastructure .objects .row div, .infrastructure .objects .row div span, .infrastructure p{
    line-height: 28px;
  }
  .col-info-type2 p{
    font-size: 16px;
    line-height: 28px;
  }
  .lorem p{
    line-height: 28px;
  }
  .f p{
    line-height: 28px;
  }
  .additional-info p, .news-article .comment p, .news-article p a, .room-info .plan span{
    font-size: 16px;
    line-height: 28px;
  }
  .news .item p{
    font-size: 16px;
    line-height: 28px;
  }
  span.desc{
    font-size: 16px;
    line-height: 28px;
  }
  .col-info-type2 h2{
    // margin-top: 20px;
    margin-bottom: 10px;
  }
  .infrastructure p{
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 540px) {
  .news{
    .item{
      margin-bottom: 50px;
    }
    .col-6{
      width: 100%;
      .col-8{
        width: 100%;
      }
    }
  }

  .large-image.h-568{
    max-height: initial;
    // height: initial!important;
    // object-fit: initial;
    position: relative;
    display: inline-block;
    height: auto;
    box-sizing: content-box;
  }
}