@media screen and (max-width: 1330px) {
  .header .container{
    padding: 0px 24px;

    ul{
      li{
        a{
          span.short{
            display: initial;
          }
          span.full{
            display: none;
          }
        }
      }
    }
    .tel{
      a{
        font-size: 12px;
      }
    }
  }
  .container{
    padding: 0px 56px;
  }
  .footer{
    padding: 0px 56px;
    .container-fluid .container{
      // padding: 42px 24px;
      // padding-left: 56px;
      // padding-right: 56px;/
    }
  }
  .info{
    .col-4{
      // width: 18%;
    }
    .col-1{
      display: none;
    }
    .col-7{
      width: 100%;
    }
    .num-banner-zone .num-baner{
      margin-bottom: 70px;
    }
  }
  .toggler label{
    bottom: 16px;
    right: 16px;
  }

  .next-house{
    &>.row{
      flex-direction: column;

      &>div{
        width: 100%;

        img{
          width: 100%;
        }
      }
    }

    .techical-description{
      // max-width: 400px;
      .price{
        margin-left: 10%;
        font-size: 16px;
        line-height: 20px;
      }
      ul{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        li{
          width: calc(50% - 8px);          
        }
      }
    }
  }
  .no-tablet{
    display: none!important;
  }
}

@media screen and (max-width: 1140px) {
  h2{
    font-size: 32px;
    line-height: 32px;
    &.biggest{
      margin-bottom: 36px;
      line-height: 50px;
    }
  }
  h3{
    font-size: 24px;
    line-height: 32px;
  }
  // status
  span.status{
    font-size: 14px;
    line-height: 17px;
    &:before{
      top: -1px!important;
    }
  }
  .content{
    margin: 80px auto;
  }
  p{
    font-size: 16px;
    line-height: 24px;
  }
  b{
    font-size: 16px;
    line-height: 20px;
  }
  .col-1{
    width: calc(8.33% - 8px);
  }
  .col-2{
    width: calc(16.66% - 8px);
  }
  .col-4{
    width: calc(33% - 8px);
  }
  .col-5{
    width: calc(41.66% - 8px);
  }
  .col-6{
    width: calc(50% - 8px);
  }
  .col-7{
    width: calc(58.33% - 8px);
  }
  .col-8{
    width: calc(66.66% - 8px);
  }
  .col-10{
    width: calc(83.33% - 8px);
  }
  .col-11{
    width: calc(91.63% - 8px);
  }
  .custom-select{
    min-width: 140px;
    margin-right: 8px;
  }
  .bread-crmp{
    margin-bottom: 14px;
    ul{
      li{
        a{
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }
  .header .container{
    .logo{
      img{
        width: 60px;
      }
    }
    ul{
      li{
        a{
          font-size: 12px;
          line-height: 15px;
          padding: 5px 10px;
          span{
            font-size: 12px;
            line-height: 15px;
          }
        }
      }
    }
    &>ul>li>a>img{
      display: none;
    }
    .tel{
      a{
        font-size: 12px;
        // line-height: 15px;
      }
      .overlay{
        justify-content: space-between;

        div, .phones{
          font-size: 14px;
          line-height: 24px;
        }
        
      }
    }
  }
// main
  .main-image{
    .container{
      h1{
        left: auto;
      }
    }
  }
  // projects
  .projects{
    margin-left: -16px;
    margin-top: -22px;
    .item{
      max-width: calc(50% - 16px);
      margin-left: 16px;
      margin-top: 16px;
      padding-bottom: 0;

      img{
        height: auto;
        object-fit: contain;
      }
      h4{
        font-size: 16px;
        line-height: 20px;
        margin-top: 8px;
      }
      p{
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
  // 10 years block
  .info{
    .num-banner-zone{
      .num-baner{
        margin-bottom: 35px;
        max-width: 151px;
        margin-right: 20px;
        span{
          font-size: 56px;
          line-height: 60px;
        }
        p{
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
    h3{

    }
    p{

    }
    a{
      font-size: 16px;
      line-height: 20px;
    }
  }  
  .container.map{
    // padding: 0;
    width: 100%;
    max-width: 100%;
    h2{
      // padding: 0 56px;
    }
  }
  .main{
    .toggler{
      margin-bottom: 36px;
    }
  }
  .house-description{
    flex-direction: column;
    
    &>div{
      width: 100%;
    }
    a.show-info{
      padding: 15px 25px;
      margin-top: 40px;
      margin-bottom: 25px;
    }
    .content_ {
      max-width: 100%;

      .short-info{
        span{
          font-size: 14px;
        }
        div > h3{
          margin-top: 2px;
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
  }

  .type1-gallery .swiper-container .swiper-wrapper {
    height: auto;
    .swiper-slide{
      min-height: auto;
      img{
        object-fit: contain;
      }
    }
  }

  .column-info{
    position: relative;
    h2{
      line-height: 40px;
    }
    p{
      font-size: 16px;
      line-height: 24px;
    }
    &>div{
      img{
        min-height: auto;
        height: 392px;
        width: 83%;
      }
      width: calc(50% - 16px);
      position: relative;
      z-index: 10;

      &:nth-child(2) {
        position: absolute;
        z-index: 2;
        top: 16px;
        right: 0;
        img{
          height: 360px;
          opacity: 0.5;
          width: 75%;
          margin-left: 5%;
          display: block;
        }
      }
      &:nth-child(3) {
        display: flex;
        justify-content: flex-end;
      }
    }  

    &.reverse > div{
      &:nth-child(2) {
        right: auto;
        left: 7.3%;
      }
      &:nth-child(3) {
        justify-content: flex-start;
      }
    }  
  }
  // 
  .infrastructure{
    h2{
      margin-bottom: 16px;
    }
    p{
      font-size: 16px;
      line-height: 24px;
      margin-top: 0px;
    }
    .objects{
      .row{
        div, div span{
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
  // 
  .lorem{
    h3{
      line-height: 32px;
    }
    p{
      line-height: 24px;
    }
  }
  // 
  .gallery {
    .gallery-top{
      height: auto;
    }
    .swiper-wrapper{
      // height: 308px;
      .swiper-slide{
        // height: 308px;
        img{
          // height: 308px;
          object-fit: contain;
          max-height: 100%;
          height: auto;
        }
      }
    }
  }
  // 
  .photos{
    img{
      height: 304px;
    }
  }
  // 
  .table-caption{
    div{
      font-size: 14px;
      line-height: 17px;
    }
  }
  .table-info{
    *{
      font-size: 14px;
      line-height: 17px
    }
    .col-2{
      min-width: 100px;
    }
  }
  // 
  .footer{
    padding: 0px 56px;
    .container-fluid .container{
      padding-top: 20px;
      div.row ul.contact{
        flex-direction: column;
        // justify-content: flex-start;
        align-items: flex-start;

        li{
          margin-bottom: 10px;
        }
      }
      .row{
        margin-top: 20px;

        .social{
          align-self: flex-start;
        }
      }
    }
  }
  // 
  .info-banner{
    p.name{
      font-size: 18px;
      line-height: 22px;
    }
    div.row{
      .item{
        b.value{
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
  }
  .room-info + div.row{
    flex-direction: column;

    &>div{
      width: 100%;
    }
    div.col-1{
      display: none;
    }
  }
  .room-info{
    flex-direction: column-reverse;
    display: flex;

    &>div{
      width: 100%;
    }
    .col-4{
      // width: 40%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      .info-banner{
        width: 55%;
      }
      .actions{
        width: 45%;
      }
      .plan{
        width: 100%;
        
      }
    }
    .type1-gallery .swiper-container .swiper-wrapper{
      height: auto;
    }
    .info-banner{
      margin-top: 30px;
    }
  }
  // 
  .techical-description{
    ul{
      li{
        span{
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
  // 
  .news{
    .item{
      margin-bottom: 72px; 

      h2{
        font-size: 20px;
        line-height: 24px;
      }
      span.date{
        font-size: 12px;
        line-height: 15px;
      }
      p{
        font-size: 14px;
        line-height: 20px;
      }
      .col-4{
        display: none;
      }
      .col-8{
        width: 85%;
      }
    }
  }
  //
  .news-article{ 
    .col-8{
      max-width: 768px;
      width: 100%;
    }
    .date{
      font-size: 12px;
      line-height: 15px;          
    } 
    a{
      font-size: 16px;
    }
    .comment{
      p{
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  // 
  .actions{
    flex-direction: column;

    a.item{
      width: 100%;
      margin-bottom: 6vw;
    }
  }
  // 
  .based{
    margin-top: 40px;

    &>div.col-1{
      display: none;
    }
    &>div.col-7{
      width: calc(66.6% - 8px);
    }
  }
  // 
  a.btn{
    font-size: 16px;
    line-height: 20px;
    min-height: 56px;
  }
  // 
  .apparts{
    a{
      img{
        height: 232px;
        min-height: auto;
      }
      span{
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
  // 
  .commercial{
    a{
      width: calc(50% - 8px);
      .row{
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  // 
  .full-tablet{
    width: 100%;
    .desc{
      width: 100%;
      max-width: 570px;
    }
  }
  .colum-tablet{
    flex-direction: column;
    &>div{
      width: 100%;
    }
    
  }
  
  .tech-title{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    h4{
      font-size: 16px;
      line-height: 20px;
    }
    span.price{
      margin-left: 50px;
      display: inline-block;
      font-size: 16px;
      line-height: 20px;
    }
  }
  // 
  .videos{
    .item{
      .video{
        height: 180px;
        min-height: auto;
        img{
          height: 180px;
        }
      }
    }
  }
  // 
  .contacts{
    flex-wrap: wrap;
    
    &>div, &>.col-3{
      // width: 50%;
      width: 210px;
      margin-bottom: 80px;
      margin-right: 50px;
    }
    .contact{
      p{
        font-size: 14px;
        line-height: 17px;

        b{
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }
  // 
  .text-banner{
    height: 232px;
    &:before{
      background-position-x: -115px;
    }
  }
  //
  .modaal-outer-wrapper{
    .modaal-inner-wrapper{
      padding: 10px;

      .modaal-content-container{
        padding: 10px;

        .technical-info{
          margin: 10px;

          .head{
            margin-bottom: 20px;

            h3{
              margin: 0;
            }
          }
          .body{
            &>.row{
              &>.col-1{
                display: none;
              }
              &>.col-5{
                width: calc(50% - 8px);
              }
            }
          }
        }
      }
    }
  }
  // 
  .g1{
    &.type1-gallery .swiper-container .swiper-wrapper .swiper-slide img{
      object-fit: cover;
    }
  }
  // 
  .link{
    min-width: 290px;
  }
  // 
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1330px) {
}
