@-ms-viewport{
  width: device-width;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html{
  -webkit-text-size-adjust: 100%;  
}

body{
  padding: 0;
  margin: 0;
}

.container-fluid{
  width: 100%;
}

.row{
  display: flex;
  width: 100%;
}

h1{
  font-weight: bold;
  font-size: 72px;
  line-height: 96px;
  margin: 66px 0;
}


@media(min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media(min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media(min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media(min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.left-col{
  width: 240px;
}

@import "partials/header.scss";