// @import "../font/Noah/style.scss";

@-ms-viewport{
  width: device-width;
}

* {
  box-sizing: border-box;
  font-family: 'Noah';

  font: {
    size: 20px;
  }
  // font-family: 'Montserrat', sans-serif;
}

html{
  -webkit-text-size-adjust: 100%;  
}

body{
  padding: 0;
  margin: 0;
  color: black;
}

.container-fluid{
  width: 100%;
}

.row{
  display: flex;
  width: 100%;
}

h1{
  font-weight: bold;
  font-size: 72px;
  line-height: 96px;
  margin: 66px 0;
}

h2{
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  margin: 46px 0;
}

h3{
  font-size: 40px;
  line-height: 32px;
  margin: 40px 0;
}

h4{
  font-size: 28px;
  line-height: 34px;
}

@media(min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media(min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media(min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media(min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.left-col{
  width: 240px;
}

@import "partials/header.scss";
