// @import "../font/Noah/style.scss";

@-ms-viewport{
  width: device-width;
}

* {
  box-sizing: border-box;
  font-family: 'Noah';
  color: #252525;

  font: {
    size: 20px;
  }
}

html, body{
  -webkit-text-size-adjust: 100%;  
  padding: 0;
  margin: 0;
  color: black;
}

body{
  position: relative;
  padding-bottom: 280px;
  min-height: 100vh;
  background-color: white;
}

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
}

.container-fluid{
  width: 100%;
}
.container {
  max-width: 1217px;
  width: 100%;
  margin: auto;
}
.space-between{
  justify-content: space-between;
}

.row{
  display: flex;
  width: 100%;
}

.col-33{
  width: calc(33% - 16px);
}
.col-66{
  width: calc(67% - 16px);
}
.col-50{
  width: calc(50% - 16px);
}
@import "ui.scss";

@media(min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media(min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media(min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media(min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.left-col{
  width: 240px;
}

@import "partials/header.scss";
@import "partials/footer.scss";

@import "partials/main.scss";
@import "partials/house-desc.scss";