p{
    font-size: 20px;
    line-height: 40px;
}

h1{
    font-size: 80px;
    line-height: 72px;
}

h2{
    font-size: 40px;
    line-height: 32px;
    color: #101010;
}

h4{
    font-size: 20px;
    line-height: 25px;
}

a{
    color: #101010;
    text-decoration: none;
}

.img{
    background-color: gray;
}