p{
    font-size: 20px;
    line-height: 40px;
    color: #252525;
}

h1{
    font-size: 80px;
    line-height: 72px;
    font-family: 'NoahBold';
}

h2{
    font-size: 40px;
    line-height: 32px;
    color: #101010;
    margin: 29px 0;
    font-family: 'NoahBold';

    &.biggest{
        font-size: 48px;
        line-height: 60px;
        margin-top: 15px;
        margin-bottom: 49px;
    }
}
h3{
    font-family: 'NoahBold';
    font-size: 36px;
    line-height: 56px;
    &.small{
        font-size: 32px;
        line-height: 40px;
    }
}
h4{
    font-size: 20px;
    line-height: 25px;
    font-family: 'NoahBold';
}

a{
    color: #101010;
    text-decoration: none;
}

.img{
    background-color: gray;
}

.status{
    font-size: 16px;
    line-height: 20px;
    color: #FF910D;
    position: relative;
    display: inline-flex;
    align-items: center;

    &.start{
        &:before {
            content: '';
            background-image: url('../img/b-starting.svg');
            width: 10px;
            height: 11px;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
            position: relative;
            display: block;
            margin-right: 6px;
        }
    }
    &.processing{
        &::before{
            content: '';
            background-image: url('../img/processing.svg');
            width: 10px;
            height: 11px;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
            position: relative;
            display: block;
            margin-right: 6px;
        }
    }
    &.b-done{
        color: #00914C;

        &::before{
            content: '';
            background-image: url('../img/b-done.png');
            width: 10px;
            height: 11px;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
            position: relative;
            display: block;
            margin-right: 6px;
        }
    }
}

.bread-crmp{
    margin-top: 35px;
    margin-bottom: 15px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        li{
            margin: 0;
            padding: 0;
            a{
                display: flex;
                align-items: center;
                color: #4F4F4F;
                font-size: 14px;
                line-height: 17px;
                margin-right: 8px;
                &:after{
                    content: '-';
                    position: relative;;
                    display: block;
                    margin-left: 8px;
                }
            }
        }
    }
}

.container.block{
    margin: 103px auto;

    h2{
        margin-bottom: 20px;
    }
}

a.btn{
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    color: white;
    background-color: #00914C;
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;    
}