.house-description{
    display: flex;
    justify-content: space-between;

    .content_{
        max-width: 595px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
        .short-info{
            display: flex;
            justify-content: space-between;
            width: 100%;

            &>div{
                min-width: 240px;
                span{
                    font-size: 16px;
                    line-height: 20px;
                    color: #4F4F4F;
                }
                h3{
                    color: #252525;
                    margin-top: 5px;
                    margin-bottom: 30px;
                }
            }
        }
        p{
            margin: 10px 0;
        }
        a.tech-info{
            font-size: 16px;
            line-height: 19px;
            color: #101010;
            display: inline-block;
            border-bottom: 1px dashed black;
            margin-top: 12px;

            &:hover, &:hover b{
                color: #00914C;
                border-bottom: 1px dashed #00914C;
            }
        }
    }
    a.show-info{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 88px;
        background-color: #00914C;
        padding: 28px;
        color: white;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 45px;
        font-family: 'NoahBold';
        transition: 0.2s;
        
        img{
            margin-right: 19px;
        }
        &:hover{
            background-color: #00B15D;
        }
    }
    .description{
        .row{
            min-height: 57px;
            border-bottom: 1px solid #E9E9E9;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-bottom: 10px;
            .name{
                width: 50%;
                font-size: 20px;
                line-height: 25px;
            }
            .value{
                width: 50%;
                font-family: 'NoahBold';
                font-size: 20px;
                line-height: 25px;

                a{
                    color: #00914C;
                    font-size: 20px;
                    display: inline-flex;
                    align-items: center;
                    img{
                        display: block;
                        margin-left: 8px;                        
                    }
                }
            }
        }
    }
}


.type1-gallery{
    // margin-top: 122px;
    // margin-bottom: 128px;
    .swiper-container{
        .swiper-wrapper{
            height: 568px;
            .swiper-slide{
                width: 100%;
                min-height: 568px;
                object-fit: cover;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .swiper-slide {
                background-size: cover;
                background-position: center;
            }
        }
        .swiper-button-next{
            margin-top: 0;
            top: 0px;
            width: 72px;
            height: 72px;
            right: 0;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: none;
            transition: 0.2s;

            &:hover{
                background-color: rgb(230, 230, 230);
            }
        }
        .swiper-button-prev{
            margin-top: 0;
            top: 0px;
            width: 72px;
            height: 72px;
            right: 72px;
            left: auto;
            background-color: white;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: none;
            transition: 0.2s;
            
            &:hover{
                background-color: rgb(230, 230, 230);
            }
        }
    }
}

.column-info{
    display: flex;
    justify-content: space-between;
    // margin: 128px 0;

    &.reverse{
        flex-direction: row-reverse;
    }
    h2{
        line-height: 48px;
        margin-top: 0;
        margin-bottom: 33px;
        color: #101010;
    }
    p{
        font-size: 20px;
        line-height: 32px;
        margin: 0;
        color: #252525;
    }
    &>div{
        width: calc(33% - 16px);

        img{
            width: 100%;
            min-height: 568px;
            object-fit: cover;
        }
    }
}

.infrastructure{
    h2{

    }
    p{
        line-height: 32px;
        margin: 39px 0;
        max-width: 592px;
    }
    .objects{
        display: flex;
        flex-direction: column;
        border-top: 1px solid #E9E9E9;

        .row{
            border-bottom: 1px solid #E9E9E9;
            min-height: 56px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-bottom: 6px;

            div{
                font-size: 20px;
                line-height: 32px;
                font-family: 'NoahBold';
                display: flex;
                align-items: center;

                img{
                    display: inline-block;
                    margin-right: 10px;
                }
                a{
                    display: inline-block;
                }
                span{
                    display: inline-block;
                    min-width: 55px;
                    font-weight: bold;
                    font-family: 'NoahBold';
                }
            }
            div:first-child{
                text-align: left;
                font-family: 'Noah';                
                color: #252525;                
            }
        }
    }
}

.lorem{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // margin-bottom: 115px;

    h3{
        line-height: 48px;
        margin: 0;
    }
    p{
        margin: 0;
        line-height: 32px;
    }
}

.gallery{
    // margin-bottom: 123px;
    // margin-top: 115px;

    .swiper-container {
        width: 100%;
    }
    .gallery-top {
        height: 568px;
        width: 100%;
        margin-bottom: 10px;
    }
    .gallery-thumbs{
        height: 104px;
    }
    .swiper-slide{
        background-size: cover;
        background-position: center;
        img{
            width: 100%;
            height: 100%;
            max-height: 568px;
            object-fit: cover;
        }
    }
    .gallery-thumbs .swiper-slide-thumb-active {
        opacity: 1;
    }
    .swiper-button-next{
        margin-top: 0;
        top: 0px;
        width: 72px;
        height: 72px;
        right: 0;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
        transition: 0.2s;

        &:hover{
            background-color: rgb(230, 230, 230);
        }
    }
    .swiper-button-prev{
        margin-top: 0;
        top: 0px;
        width: 72px;
        height: 72px;
        right: 72px;
        left: auto;
        background-color: white;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;
        transition: 0.2s;
        
        &:hover{
            background-color: rgb(230, 230, 230);
        }
    }
}

.photos{
    position: relative;

    img{
        width: 100%;
        height: 568px;
        object-fit: cover;
        cursor: pointer;
    }
    span{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 20px;
        height: 32px;
        padding: 3px 6px;
        min-width: 80px;
        color: white;
        background-color: black;
        right: 8px;
        bottom: 8px;
    }
}