.plan{
    .img{
        background-color: grey;
        display: block;
        width: 100%;
        min-height: 384px;
    }
    .row{
        margin: 32px 0;
    }
    a{
        color: #00914C;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 36px;
        min-height: 64px;
        border: 1px solid #00914C;
        img{
            padding-right: 16px;
        }
    }
}

select{
    height: 64px;
    display: flex;
    align-items: center;
    padding: 18px 24px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #D0D0D0;
    outline: none;

    option{
        height: 40px;
    }
}

.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: white;
  border: 1px solid #D0D0D0;
  color: black;
  padding: 12px 24px;
  padding-right: 40px;
  height: 64px;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 16px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #C4C4C4 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #C4C4C4 transparent;
  top: 24px;
}

/*style the items (options), including the selected item:*/
.select-items div {
  color: black;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-color: transparent #D0D0D0 #D0D0D0 #D0D0D0;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  line-height: 20px;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}



.table-caption{
    display: flex;
    justify-content: space-between;

    div {
        color: #898989;
        font-size: 20px;
    }
}
.table-info{
    margin-bottom: 128px;
    border-top: 1px solid #EAEAEA;
    margin-top: 24px;

    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 32px;
        border-bottom: 1px solid #EAEAEA;

        &:hover{
            background-color: #fff4e7;
        }
        &.sale{
            font-size: 20px;
            line-height: 25px;
            
            div{
                color: #898989;
            }
            img{
                opacity: 0.5;
            }           
            span{
                color: #FF910D;

            }
        }
    }
}