@mixin n-columns($min-width, $gutter, $last-equal: false, $max-cols: 5) {
    .projects {
      display: flex;
      flex-wrap: wrap;
      margin-left: -$gutter;
      margin-top: -$gutter;
  
      .item {
        flex: 1 0 $min-width;
        margin-left: $gutter;
        margin-top: $gutter;
  
        @if $last-equal {
          @for $i from 2 through $max-cols {
            $screen-width: ($min-width*$i)+($gutter*$i);
            $column-width: (100%/$i);
            @media (min-width: $screen-width) {
              max-width: calc(#{$column-width} - #{$gutter});
            }
          }
      
          $column-width: (100%/$max-cols);
          @media (min-width: $min-width*$max-cols) {
              min-width: calc(#{$column-width} - #{$gutter});
          }
        }
      }
    }
  }
  
  @include n-columns(350px,  32px, true, 3);


.main-image{
    position: relative;
    min-height: 608px;
    display: flex;
    background-color: black;
    
    &>div{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        .container{
            
        }
    }
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        background-color: black;
        display: block;
        height: 608px;
    }
    h1{
        font-family: "NoahBold";
        position: relative;
        top: 135px;
        left: 16%;
        color: white;
        max-width: 460px;
    }
}

.main{
    .container{
        .large-card{
            width: 100%;
            margin: 64px 0;

            img{
                width: 100%;
                // min-height: 500px;
                object-fit: cover;
            }
        }
    }
    .banners{
        margin-bottom: 125px;
    }
}


.projects{
    margin-bottom: 60px;
    .item{
        padding-bottom: 10px;
        margin-bottom: 17px;

        img{
            width: 100%;
            height: 384px;
            object-fit: cover;
        }
        h4{
            margin-top: 15px;
            margin-bottom: 11px;
            font-size: 20px;
        }
        p{
            margin: 0;
            font-size: 16px;
            line-height: 20px;
        }
        span{

        }
    }
}

.info{
    .num-banner-zone{
        display: flex;
        flex-direction: column;
        max-width: 200px;;

        .num-baner{
            margin-bottom: 105px;

            span{
                font-size: 80px;
                line-height: 88px;
                font-family: 'NoahBold';
            }
            p{
                font-size: 32px;
                line-height: 40px;
                margin: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        
    }  
    
    h3{
        margin: 0;
    }
    p{
        margin: 38px 0;
    }
    a{
        font-size: 20px;
        line-height: 25px;
        display: flex;
        align-items: center;
        .imgs{
            display: block;
            margin-left: 5px;

            &:hover{
                fill: #00914C;
            }
        }
        &:hover{
            color: #00914C;
            .imgs{
                path{
                    fill: #00914C;
                }
            }
        }
    }
}

.map{
    // margin: 117px auto;
}

#map{
    min-block-size: 528px;
    width: 100%;
    // background-color: grey;
    background-image: url('../img/map.jpg');
    background-size: cover;

    .target{
        img{

        }        
        .status:before{
            top: -2px;
        }
    }
    .desc{
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgba(42, 54, 62, 0.08);
        width: 176px;

        img{
            width: 100%;
            height: 176px;
            display: block;
            object-fit: cover;
        }
        &>div{
            padding: 6px 16px;
            *{
                font-size: 12px;
                line-height: 15px;
            }
            p{
                margin: 8px 0;
            }
            span{

            }
        }
    }
}

.commercial{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .row{
        align-items: flex-end;
    }
    &>a{
        display: flex;
        flex-direction: column;
        width: calc(50% - 16px);
        margin-bottom: 64px;

        img{
            display: block;
            width: 100%;
            margin-bottom: 16px;
        }
        b{
            font-family: 'NoahBold';
        }
        span{

        }
    }
}

.videos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .item{
        display: flex;
        flex-direction: column;
        width: calc(50% - 16px);
        margin-bottom: 56px;
        
        b{
            display: block;
            margin-top: 16px;
        }

        .video{
            width: 100%;
            min-height: 330px;
            // margin-bottom: 16px;
            img{
                width: 100%;
                height: 331;
                object-fit: cover;
            }
        }
    }
}

.contacts{
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    width: 100%;
    margin-bottom: 48px;

    &>div{
        &>img{
            width: 100%;     
            max-width: 208px;
            height: 152px;
            object-fit: cover;    
        }
    }
    .contact{
        p{
            font-size: 16px;
            line-height: 32px;
            color: #252525;
            img{
                display: inline-block;
                margin-left: 6px;
            }
            b{
                line-height: 32px;
                color: #101010;
                font-size: 16px;
            }
        }
    }
}

.comfort{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .item{
        width: calc(50% - 16px);
        margin: 47px 0;

        &>div{
            display: flex;

            div.col-2{
                margin-right: 32px;
                img{

                }
            }
            div{
                display: flex;
                flex-direction: column;
                max-width: 280px;
                b{
                    font-size: 20px;
                    line-height: 25px;
                    margin-bottom: 16px;
                    display: block;
                }   
                span{
                    font-size: 16px;
                    line-height: 24px;
                } 
            }
        }
    }
}

.content{
    margin: 128px auto;
}

.based{
    display: flex;
    margin-top: 80px;
    p:first-child{
        margin-top: 0;
    }
}

.toggler{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 64px;

    input{
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        left: -1px;
        bottom: -1px;
    }
    label{
        cursor: pointer;
        display: flex;
        padding: 5px 24px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        position: absolute;
        bottom: 23px;
        right: 26px;
        // width: 105px;
        &>span{
            // width: 85px;
        }

        img{
            display: inline-block;
            margin-right: 8px;
            color: white;
        }
        .on-map{
            color: white;
            font-size: 16px;
            align-items: center;
            line-height: 16px;
        }
        .on-image{
            color: white;
            display: none;
            font-size: 16px;
            align-items: center;
            line-height: 16px;
        }
    }
    #map{
        display: none;
        // height: 568px;
        width: 100%;
        height: 43vw;
        min-block-size: 43vw;
    }
    .large-card{
        margin: 0!important;
        height: 100%;
        img{
            display: block;
            width: 100%;
            height: 43vw;
            object-fit: cover;
        }
    }
    input:checked {
        &~.large-card{
            display: none;
        }
        &~#map{
            display: inherit;
        }
    }
    input:checked ~ label {
        .on-image{
            display: inherit;
        }
        .on-map{
            display: none;
        }
    }
}

.call-show{
    h4{
        margin-top: 0;
    }
    .row{
        display: flex;
    }
    span{
        font-size: 14px;
        line-height: 32px;
    }
    input{
        min-width: 300px;
        border:  1px solid #898989;
        outline: none;
        padding: 10px 25px;
        width: 100%;
    }
    a{
        min-width: 170px;
    }
}

.text-banner{
    display: flex;
    background-color: #00914C;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 368px;
    position: relative;

    &:before{
        content: '';
        display: block;
        height: 100%;
        width: 274px;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('../img/Union.png');
        background-repeat: no-repeat;
    }

    h3{
        color: white;
        max-width: 592px;
        width: 100%;
        margin: 0;
        margin-left: 208px;
        position: relative;
        z-index: 10;
    }
}

.h-568{
    // height: 568px;
    max-height: 568px;
    object-fit: contain;
    width: 100%;
}

.technical-info{
    margin: 35px 79px;
    min-height: calc(100vh - 130px);
    .head{
        margin-bottom: 44px;

        h3{
            font-size: 32px;
            line-height: 40px;
            color: black;
            margin-bottom: 8px;
            margin-top: 0;
        }
        span{
            font-size: 14px;
            line-height: 20px;
        }
    }
    .body{
        p>b{
            font-size: 20px;
            line-height: 32px;
            color: black;
        }
        p{
            margin-bottom: 0;
        }
        .row{
            .row{
                margin: 24px 0;
                b{
                    font-size: 14px;
                }
            }
            div{
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}

.plan-wrap{
    position: relative;
    .sale{
        top: 25%;
        left: 12%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 104px;
        height: 32px;

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        b{
            color: white;
            position: relative;
            z-index: 1;
            font-size: 16px;
            line-height: 20px;
        }
    }
    .desc{
        position: absolute;
        top: 10%;
        left: 30%;
        background-color: #00914C;
        box-shadow: 0px 8px 16px rgba(42, 54, 62, 0.08);
        padding: 20px;
        width: 208px;
        min-width: 200px;
        z-index: 100;
        *{
            font-size: 14px;
            line-height: 15px;
            color: white;
        }
        p{
            margin-bottom: 20px;
            margin-top: 5px;
        }
        .row{
            margin: 9px 0;
            align-items: center;
            color: white;
            display: flex;
            flex-direction: row;
            b{

            }
            sup{
                font-size: 8px;
            }
        }
        .price{
            margin-top: 25px;
        }
    }
}

.com-house{
    flex-direction: column;

    .tech-title{
        display: flex;
        align-items: center;

        span.price{
            color: #FF910D;
            display: block;
            margin-left: 10%;
        }
    }
}

.next-house{
    .techical-description{
        flex-direction: column;
        div.row{
            align-items: baseline;
            span.price{
                color: #FF910D;
                margin-left: 70px;
            }
        }
    }
}