.news{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .item{
    margin-bottom: 128px;

    &>a{
      display: block;
    }
    span.date{
      color: #898989;
      font-size: 14px;
      line-height: 17px;
    }
    h2{
      margin: 16px 0;
      line-height: 48px;
      font-size: 40px;
      color: #101010;
    }
    p{
      margin: 0;
      font-size: 20px;
      line-height: 32px;
      color: #252525;
    }
  }
}

.news-article{
  margin-bottom: 128px;
  .type1-gallery {
    margin: 40px 0;
    .swiper-container .swiper-wrapper{ 
      height: auto;
      .swiper-slide{
        min-height: 408px;
        height: 408px;
      }
    }
  }
  .date{
    color: #898989;
  }
  p{
    a{
      color: #00914C;
    }
  }
}

.comment{
  border-left: 1px solid #D6D6D6;
  padding-left: 16px;
  p{
    font-style: italic;
    margin: 8px;
    font-size: 20px;
  }
}